/*.checkboxes {
      position: absolute; top: 25%; right: 0; width: 15%; height: 45%;      
      overflow:scroll;
      background-color: #FFFFFF; 
      font-family: 'Titillium Web', sans-serif;
}*/
body, p, h1{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#ruler { 
	visibility: hidden; 
	white-space: nowrap; 
}

h1 {
    font-size: 2em;
    padding-top: 5px;
    margin: 0.2em 0;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    margin: 0em 0;
    text-align: center;
    padding-bottom: 15px;
}

h2 {
	padding-bottom: 0px;
	text-align: center;
}

.repub{
	color: red;
}
.dem{
	color: blue;
}
.mixed{
	color: 	#9400D3;
}

#mainChart{
	width: 1000px;
	margin: auto;
}
#filterContainer{
	width: 80%;
	margin: auto;
}
#legendbox{
	 width: 550px;
	 margin: auto;
	 padding-bottom: 20px;
}

svg {
	width: 1000px;   
    height:800px;
    margin:0px;
    padding:0px;
}